<div class="container">
  <h2>Subir Entrenamiento</h2>
  <form [formGroup]="entrenamientoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tipo">Tipo de Ejercicio</label>
      <input
        type="text"
        id="tipo"
        class="form-control"
        formControlName="tipo"
        required
      />
      <div *ngIf="entrenamientoForm.get('tipo')?.invalid && entrenamientoForm.get('tipo')?.touched">
        <small class="text-danger">El tipo de ejercicio es requerido.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        id="descripcion"
        class="form-control"
        formControlName="descripcion"
        required
      ></textarea>
      <div *ngIf="entrenamientoForm.get('descripcion')?.invalid && entrenamientoForm.get('descripcion')?.touched">
        <small class="text-danger">La descripción es requerida.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="idUser">ID de Usuario</label>
      <input
        type="number"
        id="idUser"
        class="form-control"
        formControlName="idUser"
        required
      />
      <div *ngIf="entrenamientoForm.get('idUser')?.invalid && entrenamientoForm.get('idUser')?.touched">
        <small class="text-danger">El ID de usuario es inválido o requerido.</small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="entrenamientoForm.invalid">Guardar</button>
  </form>
</div>
