<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
    <img src="assets\logo.png" alt="">

    <h1>GYMPRO</h1>

    <div class="texto">
      
      <p>Tu app de gimnasio ideal</p>
      <p>Bienvenido a el mejor gimnasio! <br/>Disfruta de tu servicio especial</p>


    </div>




    <div class="botones">
      <ion-button [routerLink]="'/registro'">Registrarme </ion-button>
      <ion-button [routerLink]="'/inicio-sesion'" id="boton2" >Ya tengo cuenta</ion-button>
    </div>
    

</ion-content>
