

<ion-content [fullscreen]="true">

  <div class="info">

    <img src="assets\SS.png" alt="">
    <h1>Servicios</h1>
    
    <p>Revisa los horarios actualizados y reserva tu hora</p>

  </div>

   
  <ion-card-content>

    <ion-list>
      
      
        
        <ion-button class="servicio" >Clases</ion-button>
     
      
      
        
        <ion-button class="servicio">Sala de Máquinas</ion-button>
      

      
  
        <ion-button class="servicio">Evaluacion corporal</ion-button>

      
    </ion-list>

  </ion-card-content>
    
<div class="reserva">

  <ion-button>Realizar reserva</ion-button>
</div>


  

<app-footer></app-footer>

</ion-content>


