<!-- perfil.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ImagenPerfil">
    <img src="assets/fotoperfil.jpg" alt="">
    <h2>Editar foto de perfil</h2>
  </div>

  <div class="DatosPerfil">
    <div class="linea"></div>
    <div class="contenido">
      <p>Nombre: {{ userProfile.name }}</p> <!-- Mostrar nombre del usuario -->
    </div>
    <div class="linea"></div>
    <div class="contenido">
      <p>Email: {{ userProfile.email }}</p> <!-- Mostrar email del usuario -->
    </div>
    <div class="linea"></div>
    <div class="contenido">
      <p>Rol: {{ userProfile.role }}</p> <!-- Mostrar rol del usuario -->
    </div>
  </div>
  <div class="botones">
    <ion-button [routerLink]="'/gestion-membresia'">Gestionar Membresia</ion-button>
    <ion-button [routerLink]="'/entrenamiento'">Entrenamientos Personalizados</ion-button>
  </div>
  <div class="volver">
    <ion-button [routerLink]="'/servicios'">Volver</ion-button>
  </div>
  <div class="cerrar-sesion">
    <ion-button (click)="confirmLogout()">Cerrar Sesión</ion-button>
  </div>
</ion-content>
