

<ion-content [fullscreen]="true">

  <div class="info">

    <img src="assets\SS.png" alt="">
    <h1>Servicios</h1>

    <h2>Evaluación Corporal</h2>
    
    <p>Revisa los horarios actualizados y reserva tu hora</p>

  </div>

   <div class="botones">
    <ion-card-content>
      <table class="tabla-clases">
        <thead>
          <tr>
            <th class="fecha">Fecha</th>
            <th class="hora">Hora</th>
            <th class="tipo">IMC</th>
            <th class="descripcion" >Descripción</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eval of corporal">
            <td>{{ eval.fecha | date }}</td>
            <td>{{ eval.hora }}</td>
            <td>{{ eval.imc }}</td>
            <td>{{ eval.observaciones }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>

   </div>

    
<div class="reserva">

  <ion-button>Realizar reserva</ion-button>


  <ion-button [routerLink]="'/servicios'">Volver</ion-button>
</div>




</ion-content>


