<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
    <img src="assets/logoColor.png" alt="">
    <h1>Crear Cuenta</h1>

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="formulario">
      <div class="input">
        <p>Ingresa tu nombre y apellido</p>
        <ion-item class="rounded-input">
            <ion-input formControlName="nombre" placeholder="Ej: Sebastian Soza"></ion-input>
        </ion-item>
      </div>

      <div class="input">
        <p>Ingresa tu correo electrónico</p>
        <ion-item class="rounded-input">
            <ion-input formControlName="email" placeholder="Ej: pablofigueroa@gmail.com"></ion-input>
        </ion-item>
        <div class="validators" *ngIf="registroForm.controls['email'].errors && registroForm.controls['email'].touched">
          <div *ngIf="registroForm.controls['email'].errors['required']">El correo es requerido</div>
          <div *ngIf="registroForm.controls['email'].errors['email']">Ingrese un correo válido</div>
        </div>
      </div>

      <div class="input">
        <p>Ingresa tu contraseña</p>
        <ion-item class="rounded-input">
            <ion-input formControlName="password" type="password" placeholder="Ej: Figueroa808"></ion-input>
        </ion-item>
        <div class="validators" *ngIf="registroForm.controls['password'].errors && registroForm.controls['password'].touched">
          <div *ngIf="registroForm.controls['password'].errors['required']">La contraseña es requerida</div>
          <div *ngIf="registroForm.controls['password'].errors['minlength']">La contraseña debe tener al menos 8 caracteres</div>
        </div>
      </div>

      <div class="input">
        <p>ReIngresa tu contraseña</p>
        <ion-item class="rounded-input">
            <ion-input formControlName="confirmPassword" type="password" placeholder="Ej: Figueroa808"></ion-input>
        </ion-item>
        <div class="validators" *ngIf="registroForm.errors && registroForm.controls['confirmPassword'].touched">
          <div *ngIf="registroForm.errors['mismatch']">Las contraseñas no coinciden</div>
        </div>
      </div>

      <div class="botones">
        <ion-button type="submit" [disabled]="registroForm.invalid" id="boton2">Registrar</ion-button>
      </div>
    </form>
</ion-content>
