
<ion-content>
  <div class="info">
    <img src="assets/SS.png" alt="">
    <h1>Entrenamientos Personalizados</h1>
    <p>Revisa tus entrenamientos personalizados y ¡Comienza a ejercitarte!</p>
    <h2>Rutina de Personalizada</h2>
  </div>
  
  <div class="botones">
    <ion-card-content>
      <table class="tabla-entrenamientos">
        <thead>
          <tr>
            <th class="tipo">Tipo</th>
            <th class="descripcion">Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entrenamiento of entrenamientos">
            <td>{{ entrenamiento.tipo }}</td>
            <td>{{ entrenamiento.descripcion }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </div>

  <div class="volver">
    <ion-button [routerLink]="'/perfil'">Volver</ion-button>
  </div>
</ion-content>
