<ion-content [fullscreen]="true">

  <div class="info">

    <img src="assets\SS.png" alt="">
    <h1>Entrenamientos Personalizados</h1>

    
    <p>Revisa tus entrenamientos personalizados y ¡Comienza a ejercitarte!</p>
    <h2>Rutina de Piernas</h2>
  </div>
    

   <div class="botones">
    
    <ion-card-content>
          <ion-button class="ejercicio" >Sentadilla 3x8</ion-button>
          <ion-button class="ejercicio">Prensa 3x8</ion-button>
          <ion-button class="ejercicio">Leg Extension 3x8</ion-button>
          <ion-button class="ejercicio">Leg Curl 3x8</ion-button>

    </ion-card-content>

   </div>

    
<div class="volver">

  <ion-button [routerLink]="'/perfil'">Volver</ion-button>
</div>




</ion-content>