<!-- entrenamientos.component.html -->
<ion-content [fullscreen]="true">

  <div class="info">
    <img src="assets/SS.png" alt="">
    <h1>Entrenamientos Personalizados</h1>
    <p>Revisa tus entrenamientos personalizados y ¡Comienza a ejercitarte!</p>
    <h2>Rutina de Piernas</h2>
  </div>

  <div class="botones">
    <ion-card-content>
      <!-- Itera sobre los entrenamientos y muestra cada uno -->
      <ion-button class="ejercicio" *ngFor="let entrenamiento of entrenamientos">{{ entrenamiento.ejercicio }}</ion-button>
    </ion-card-content>
  </div>

  <div class="volver">
    <ion-button [routerLink]="'/perfil'">Volver</ion-button>
  </div>

</ion-content>
