<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">   Gestion Membresia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="linea"></div>
  <div class="contenido">
    <p>Si deseas dar de baja tu plan, puedes hacerlo directamente con nuestra aplicacion </p>
  </div>
  <div class="linea"></div>
  <div class="imagen">
    <img src="assets/fotoGestion.jpg" alt="">
  </div>
  <div class="boton">
    <ion-button expand="block" class="custom-button">
      Cancelar Plan
    </ion-button>
  </div>
  <div class="volver">

    <ion-button [routerLink]="'/perfil'">Volver</ion-button>
  </div>
 
</ion-content>
