
<ion-content [fullscreen]="true">
  <img src="assets\logoColor.png" alt="">


  <h1>Sebastian Soza</h1>

  <p>Dale un vistazo a tus ultimos datos biométricos</p>

  <ion-list>
    <ion-item>
      <ion-label>Datos Biométricos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Peso</ion-label>
      <ion-label class="number">65</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Altura</ion-label>
      <ion-label class="number">180</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IMC</ion-label>
      <ion-label class="number">123</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>% Masa Muscular</ion-label>
      <ion-label class="number">123</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>% Grasa Corporal</ion-label>
      <ion-label class="number">123</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Medida Biceps</ion-label>
      <ion-label class="number">30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Medida Cintura</ion-label>
      <ion-label class="number">123</ion-label>
    </ion-item>
  </ion-list>

  <app-footer></app-footer>
</ion-content>
