<ion-content [fullscreen]="true">

  <div class="info">
    <img src="assets/SS.png" alt="">
    <h1>Subir Servicios</h1>
  </div>

  <ion-card-content>
    <ion-list >

      <ion-item button routerLink="/create-clase" expand="full">
        <ion-label>Subir Clases</ion-label>
      </ion-item>

      <ion-item button routerLink="/evaluacion-corporal" expand="full">
        <ion-label>Subir Evaluación Corporal</ion-label>
      </ion-item>

      <ion-item button expand="full" routerLink="/subir-entrenamiento">
        <ion-label>Subir Entrenamiento</ion-label>
      </ion-item>

      <ion-item button lines="none" expand="full" routerLink="/subir-maquinas">
        
        <ion-label>Subir Salas</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>

</ion-content>