<ion-content [fullscreen]="true">

  <div class="info">
    <img src="assets/SS.png" alt="">
    <h1>Subir Servicios</h1>
  </div>

  <ion-card-content>
    <ion-list>

      <ion-item>
        <ion-button expand="full" routerLink="/create-clase">Subir Clases</ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="full" routerLink="/evaluacion-corporal">Subir Evaluación Corporal</ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="full" routerLink="/subir-entrenamiento">Subir Entrenamiento</ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-button expand="full" routerLink="/subir-maquinas">Subir Salas</ion-button>
      </ion-item>

    </ion-list>
  </ion-card-content>

</ion-content>

