

<ion-content [fullscreen]="true">

  <div class="info">

    <img src="assets\SS.png" alt="">
    <h1>Servicios</h1>

    <h2>Clases</h2>
    
    <p>Revisa los horarios actualizados y reserva tu hora</p>

  </div>

   <div class="botones">
    <ion-card-content>
          <ion-button class="servicio" >Crossfit 15/05 17:00  122</ion-button>
      
        
          
          <ion-button class="servicio">Funcional 12/05 10:00 128</ion-button>

    </ion-card-content>

   </div>

    
<div class="reserva">

  <ion-button>Realizar reserva</ion-button>


  <ion-button [routerLink]="'/servicios'">Volver</ion-button>
</div>




</ion-content>


