
.info{

    margin-top: 20px;
    margin-left: 20px;

}
img{
    margin-top: 50px;
    background-color: rgb(161, 160, 160);
    border-radius: 200px;
    padding: 10px;

}
.info p{
    background-color: #b9b4b4;
    border-radius: 200px;
    padding: 10px;
    text-align: center;
    margin-right: 20px;;
  }

ion-list{
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-right: 10px;
}
    
ion-item {
    text-align: center;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    padding: 0.2px;
    

}
ion-card-content{

    padding: 10px;
}
.reserva{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;

}
.reserva ion-button{
    --background: #87C4D5;

    
}
ion-button {
    color: black;
  }
  
  .botones {
    margin-left: 26px;
    margin-right: 26px;
    border-radius: 15px;
    background-color: #FC9346;
  }
  
  .tabla-clases {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
  }
  
  .tabla-clases th, .tabla-clases td {
    padding: 8px;
    text-align: left;
  }
  
  .tabla-clases th {
    background-color: #FC9346;
    color: white;
  }
.volver {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }
.volver ion-button {
    --background: #87C4D5;
    
  }
  .tipo {
    border-radius: 26px 0 0 26px;
  }
  
  .descripcion {
    border-radius: 0 26px 26px 0;
  }
  .fecha {
    border-radius: 0 26px 26px 0;
  }
  .hora {
    border-radius: 0 26px 26px 0;
  }
  
  